@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');


.carousel-container {
    width: 1280px;
    margin: 50px auto;
    min-height: 200px;
    position: relative;
}
.btn_settings{
    border: none;
    background-color: white;
}

.carousel-inner .carousel-container {
    overflow: hidden;
}
.carousel-container .soundsss {
    display: flex;
    transition: transform 0.5s;
}
.carousel-container .card-container {
    width: 256px;
    flex-shrink: 0;
    height: 250px;
    padding-right: 15px;
    box-sizing: border-box;
}

.btn_listen {
    margin-top: 65px;
    margin-left: 30px;
    font-size: 40px;
    line-height: 60px;
    min-width: 150px;
    text-align: center;
    cursor: pointer;
    background: coral;
    color: #fff;
    border-radius: 5px;
    border: 0;
    height: 60px;
}

.btn_listen_sent {
    margin-top: 65px;
    margin-left: 30px;
    font-size: 40px;
    line-height: 60px;
    min-width: 150px;
    text-align: center;
    cursor: pointer;
    background: darkcyan;
    color: #fff;
    border-radius: 5px;
    border: 0;
    height: 60px;
}

#btn_listenAll{
     position: absolute;
     font-size: 6vw;
     top: 2vw;
     left: 4vw;
    -webkit-transform:rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
 }

#btn_listenAll2{
    position: absolute;
    font-size: 6vw;
    top: 87vmin;
    left: 94vw;
}

#trash{
    position: absolute;
    font-size: 5vw;
    top: 2vw;
    left: 92vw;
    -webkit-transform:rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}

.buttonImages{
    height: 5vw;
    width: 5vw;
}

#trash2{
    position: absolute;
    font-size: 5vw;
    top: 85vmin;
    left: 4vw;

}

#trash:active{
    background-color: lightgray;
}

#trash2:active{
    background-color: lightgray;
}

#btn_listenAll:active{
    background-color: lightgray;
}
#btn_listenAll2:active{
    background-color: lightgray;
}

.btn_listen:focus {
    outline: none;
}

.btn_listen_sent:focus {
    outline: none;
}


.carousel-container .card-container .card {
    width: 100%;
    height: 100%;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 10px;
}

.nav button {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 1px solid #aaa;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.nav .prev{
    left: -30px;
}

.nav .next {
    right: -30px;
}

.card .info {
    background: #333;
    color: #fff;
    text-align: center;
    font-weight: bold;
    padding: 13px;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    background: var(--light-color);
    margin: 20px;
    overflow-y: hidden;
    overflow-x: hidden;
    overscroll-behavior: contain;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.btn {
    cursor: pointer;
    padding: 5px 15px;
    background: var(--light-color);
    color: var(--dark-color-a);
    border: 0;
    font-size: 17px;
}

.circle {
    width: 200px;
    height: 200px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    background: coral;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.circle_sent{
    width: 200px;
    height: 200px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    background: darkcyan;
    display: block;
    margin-right: auto;
    margin-left: auto;
}



@media (max-width: 700px) {
    .chat-main {
        display: block;
    }

    .chat-sidebar {
        display: none;
    }
}



.Track1 {
    width: 170vmin;
    height: 85vmin;
    position: absolute;
    background: conic-gradient(
            lightgrey 0deg 10deg,
            lightgrey 10deg 360deg
    );
    -webkit-mask-image: radial-gradient(transparent 65%, black 65%);
    mask-image: radial-gradient(transparent 65%, black 65%);
    border-radius: 50%;
}


.Track2 {
    width: 150vmin;
    height: 75vmin;
    position: absolute;
    background: conic-gradient(
            lightgrey 0deg 10deg,
            lightgrey 10deg 360deg
    );
    -webkit-mask-image: radial-gradient(transparent 65%, black 65%);
    mask-image: radial-gradient(transparent 65%, black 65%);
    border-radius: 50%;
}


.Track3 {
    width: 135vmin;
    height: 65vmin;
    position: absolute;
    background: conic-gradient(
            lightgrey 0deg 10deg,
            lightgrey 10deg 360deg
    );
    -webkit-mask-image: radial-gradient(transparent 65%, black 65%);
    mask-image: radial-gradient(transparent 65%, black 65%);
    border-radius: 50%;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    height: 100vh;
}
#dropdown {
    background-color: lightcyan;
    color: white;
    border: none;
    cursor: pointer;
    padding:20px;
    margin-top:20px;
    font-size: 30px;
    text-align: center;
    margin-right: 10px;
    color: black;
}

.dropdown-child {
    background-color: lightcyan;
    min-width: 50px;
    font-size: 30px;
    text-align: center;
    color: #141414;
}


#anim {
    width:120vmin;
    height: 25vmin;
    position: absolute;
    -webkit-animation: rotation 20s linear infinite;
    -moz-animation: rotation 20s linear infinite;
    -ms-animation: rotation 20s linear infinite;
}

@-webkit-keyframes rotation {
    0%   { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}
@-moz-keyframes rotation {
    0%   { -moz-transform: rotate(0deg); }
    100% { -moz-transform: rotate(360deg); }
}
@-ms-keyframes rotation {
    0%   { -ms-transform: rotate(0deg); }
    100% { -ms-transform: rotate(360deg); }
}


.buttonTest {
    z-index: 10;
}
