@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

.soundbox {
    width: 50%;
}

.carousel-container {
    width: 100%;
    margin: 50px auto;
    min-height: 200px;
    position: relative;
}

.carousel-inner{
    overflow-x:  auto;
}

.carousel-inner::-webkit-scrollbar {
    width: 1em;
}

.carousel-inner::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

.carousel-inner::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
    border-radius: 10px;
}

.btn_settings{
    border: none;
    background-color: white;
}

.carousel-inner .carousel-container {
    overflow: hidden;
}
.carousel-container .soundsss {
    display: flex;
    transition: transform 0.5s;
}

.carousel-container .card-container {
    flex-shrink: 0;
    padding-right: 15px;
    box-sizing: border-box;
    align-items: center;
    text-align: center;
}

.btn_listen  {
    font-size: 25px;
    line-height: 60px;
    text-align: center;
    cursor: pointer;
    background: coral;
    color: #fff;
    border-radius: 5px;
    border: 0;
    height: 40px;
    width: 25px;
}

.btn_listen_sent {
    font-size: 25px;
    line-height: 60px;
    text-align: center;
    cursor: pointer;
    background: darkcyan;
    color: #fff;
    border-radius: 5px;
    border: 0;
    height: 40px;
    width: 25px;
}

#btn_listenAll{
     position: absolute;
     font-size: 400%;
     top: 3%;
     left: 4%;
    -webkit-transform:rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
 }

#btn_listenAll2{
    position: absolute;
    font-size: 400%;
    top: 90%;
    left: 92%;
}

#trash{
    position: absolute;
    top: 3%;
    left: 90%;
    -webkit-transform:rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}

.buttonImages{
    height: 180%;
    width: 180%;
}

#trash2{
    position: absolute;
    top: 87%;
    left: 3%;
}

#trash:active{
    background-color: lightgray;
}

#trash2:active{
    background-color: lightgray;
}

#btn_listenAll:active{
    background-color: lightgray;
}
#btn_listenAll2:active{
    background-color: lightgray;
}

.btn_listen:focus {
    outline: none;
}

.btn_listen_sent:focus {
    outline: none;
}


.carousel-container .card-container .card {
    width: 50%;
    height: 5%;
    box-sizing: border-box;
    border-color: transparent;
    background-color: transparent;
}

.nav button {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 1px solid #aaa;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.nav .prev{
    left: -30px;
}

.nav .next {
    right: -30px;
}

.card .info {
    margin-top: 30px;
    color: #fff;
    font-size: xx-large;
}

html, body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    background: var(--light-color);
    margin: 20px;
    overflow-y: hidden;
    overflow-x: hidden;
    overscroll-behavior: contain;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.btn {
    cursor: pointer;
    padding: 5px 15px;
    background: var(--light-color);
    color: var(--dark-color-a);
    border: 0;
    font-size: 17px;
}

.circle {
    width: 130px;
    height: 130px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    background: coral;
    display: block;
    margin-right: auto;
    margin-left: auto;
    align-items: center;
    text-align: center;
}

.circle_sent{
    width: 130px;
    height: 130px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    background: darkcyan;
    display: block;
    margin-right: auto;
    margin-left: auto;
    align-items: center;
    text-align: center;
}



@media (max-width: 700px) {
    .chat-main {
        display: block;
    }

    .chat-sidebar {
        display: none;
    }
}



.Track1 {
    width: 99%;
    height: 86%;
    position: absolute;
    background: conic-gradient(
            lightgrey 0deg 10deg,
            lightgrey 10deg 360deg
    );
    -webkit-mask-image: radial-gradient(transparent 65%, black 65%);
    mask-image: radial-gradient(transparent 65%, black 65%);
    border-radius: 50%;
}


.Track2 {
    width: 88%;
    height: 75%;
    position: absolute;
    background: conic-gradient(
            lightgrey 0deg 10deg,
            lightgrey 10deg 360deg
    );
    -webkit-mask-image: radial-gradient(transparent 65%, black 65%);
    mask-image: radial-gradient(transparent 65%, black 65%);
    border-radius: 50%;
}


.Track3 {
    width: 78%;
    height: 65%;
    position: absolute;
    background: conic-gradient(
            lightgrey 0deg 10deg,
            lightgrey 10deg 360deg
    );
    -webkit-mask-image: radial-gradient(transparent 65%, black 65%);
    mask-image: radial-gradient(transparent 65%, black 65%);
    border-radius: 50%;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    height: 100vh;
    background: dimgray;
}

#dropdown {
    background-color: lightcyan;
    border: none;
    cursor: pointer;
    padding:20px;
    margin-top:20px;
    font-size: 30px;
    text-align: center;
    margin-right: 10px;
    color: black;
}

.dropdown-child {
    background-color: lightcyan;
    min-width: 50px;
    font-size: 30px;
    text-align: center;
    color: #141414;
}


@-webkit-keyframes rotation {
    0%   { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}
@-moz-keyframes rotation {
    0%   { -moz-transform: rotate(0deg); }
    100% { -moz-transform: rotate(360deg); }
}
@-ms-keyframes rotation {
    0%   { -ms-transform: rotate(0deg); }
    100% { -ms-transform: rotate(360deg); }
}

.buttonTest {
    z-index: 10;
}
