@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

:root {
	--dark-color-a: #667aff;
	--dark-color-b: #7386ff;
	--light-color: #e6e9ff;
	--success-color: #5cb85c;
	--error-color: #d9534f;
}

.carousel-container {
	width: 1280px;
	margin: 50px auto;
	min-height: 200px;
	position: relative;
}

.carousel-inner .carousel-container {
	overflow: hidden;
}
.carousel-container .track {
	display: flex;
	transition: transform 0.5s;
}
.carousel-container .card-container {
	width: 256px;
	flex-shrink: 0;
	height: 250px;
	padding-right: 15px;
	box-sizing: border-box;
}

.btn_listen {
	margin-top: 65px;
	margin-left: 30px;
	font-size: 40px;
	line-height: 60px;
	min-width: 150px;
	text-align: center;
	cursor: pointer;
	background: coral;
	color: #fff;
	border-radius: 5px;
	border: 0;
	height: 60px;
}

.carousel-container .card-container .card {
	width: 100%;
	height: 100%;
	border: 1px solid #ccc;
	box-sizing: border-box;
	border-radius: 10px;
}

.nav button {
	width: 60px;
	height: 60px;
	border-radius: 50%;
	border: 1px solid #aaa;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	cursor: pointer;
}

.nav .prev{
	left: -30px;
}

.nav .next {
	right: -30px;
}

.card .info {
	background: #333;
	color: #fff;
	text-align: center;
	font-weight: bold;
	padding: 13px;
	box-sizing: border-box;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	background: var(--light-color);
	margin: 20px;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
}

.btn {
	cursor: pointer;
	padding: 5px 15px;
	background: var(--light-color);
	color: var(--dark-color-a);
	border: 0;
	font-size: 17px;
}

/* Chat Page */

.chat-container {
	max-width: 1100px;
	background: #fff;
	margin: 30px auto;
	overflow: hidden;
}

.chat-header {
	background: var(--dark-color-a);
	color: #fff;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	padding: 15px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.chat-main {
	display: grid;
	grid-template-columns: 1fr 3fr;
}

.chat-sidebar {
	background: var(--dark-color-b);
	color: #fff;
	padding: 20px 20px 60px;
	overflow-y: scroll;
}

.chat-sidebar h2 {
	font-size: 20px;
	background: rgba(0, 0, 0, 0.1);
	padding: 10px;
	margin-bottom: 20px;
}

.chat-sidebar h3 {
	margin-bottom: 15px;
}

.chat-sidebar ul li {
	padding: 10px 0;
}

.chat-messages {
	padding: 30px;
	max-height: 500px;
	overflow-y: scroll;
}

.chat-messages .message {
	padding: 10px;
	margin-bottom: 15px;
	background-color: var(--light-color);
	border-radius: 5px;
	overflow-wrap: break-word;
}

.chat-messages .message .meta {
	font-size: 15px;
	font-weight: bold;
	color: var(--dark-color-b);
	opacity: 0.7;
	margin-bottom: 7px;
}

.chat-messages .message .meta span {
	color: #777;
}

.chat-messages .audio {
	padding: 10px;
	margin-bottom: 15px;
	background-color: #ebe4dc;
	border-radius: 5px;
	overflow-wrap: break-word;
}

.chat-messages .audio .meta {
	font-size: 15px;
	font-weight: bold;
	color: var(--dark-color-b);
	opacity: 0.7;
	margin-bottom: 7px;
}

.chat-messages .audio .meta span {
	color: #777;
}

.chat-form-container {
	padding: 20px 30px;
	background-color: var(--dark-color-a);
}

.chat-form-container form {
	display: flex;
}

.chat-form-container input[type='text'] {
	font-size: 16px;
	padding: 5px;
	height: 40px;
	flex: 1;
}

/* Join Page */
.join-container {
	max-width: 500px;
	margin: 80px auto;
	color: #fff;
}

.join-header {
	text-align: center;
	padding: 20px;
	background: var(--dark-color-a);
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.join-main {
	padding: 30px 40px;
	background: var(--dark-color-b);
}

.join-main p {
	margin-bottom: 20px;
}

.join-main .form-control {
	margin-bottom: 20px;
}

.join-main label {
	display: block;
	margin-bottom: 5px;
}

.join-main input[type='text'] {
	font-size: 16px;
	padding: 5px;
	height: 40px;
	width: 100%;
}

.join-main select {
	font-size: 16px;
	padding: 5px;
	height: 40px;
	width: 100%;
}

.join-main .btn {
	margin-top: 20px;
	width: 100%;
}

.circle {
	width: 200px;
	height: 200px;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	border-radius: 100px;
	background: coral;
	display: block;
	margin-right: auto;
	margin-left: auto;
}

@media (max-width: 700px) {
	.chat-main {
		display: block;
	}

	.chat-sidebar {
		display: none;
	}
}

/* Recording */

.holder {
	background-color: #4c474c;
	background-image: -webkit-gradient(linear, left bottom, left top, from(#4c474c), to(#141414));
	background-image: -o-linear-gradient(bottom, #4c474c 0%, #141414 100%);
	background-image: linear-gradient(0deg, #4c474c 0%, #141414 100%);
	border-radius: 50px;
}

[data-role="controls"] > button {
	margin: 50px auto;
	outline: none;
	display: block;
	border: none;
	background-color: #D9AFD9;
	background-image: -webkit-gradient(linear, left bottom, left top, from(#D9AFD9), to(#97D9E1));
	background-image: -o-linear-gradient(bottom, #D9AFD9 0%, #97D9E1 100%);
	background-image: linear-gradient(0deg, #D9AFD9 0%, #97D9E1 100%);
	width: 100px;
	height: 100px;
	border-radius: 50%;
	text-indent: -1000em;
	cursor: pointer;
	-webkit-box-shadow: 0px 5px 5px 2px rgba(0,0,0,0.3) inset, 
		0px 0px 0px 30px #fff, 0px 0px 0px 35px #333;
			box-shadow: 0px 5px 5px 2px rgba(0,0,0,0.3) inset, 
		0px 0px 0px 30px #fff, 0px 0px 0px 35px #333;
}

[data-role="controls"] > button:hover {
	background-color: #ee7bee;
	background-image: -webkit-gradient(linear, left bottom, left top, from(#ee7bee), to(#6fe1f5));
	background-image: -o-linear-gradient(bottom, #ee7bee 0%, #6fe1f5 100%);
	background-image: linear-gradient(0deg, #ee7bee 0%, #6fe1f5 100%);
}

[data-role="controls"] > button[data-recording="true"] {
	background-color: #ff2038;
	background-image: -webkit-gradient(linear, left bottom, left top, from(#ff2038), to(#b30003));
	background-image: -o-linear-gradient(bottom, #ff2038 0%, #b30003 100%);
	background-image: linear-gradient(0deg, #ff2038 0%, #b30003 100%);
}

[data-role="recordings"] {
	text-align:center;
}

[data-role="recordings"] > .row {
	width: auto;
	height: auto;
	padding: 20px;
	line-height: 60px;
}

[data-role="recordings"] > .row > audio {
	outline: none;
}

/*[data-role="recordings"] > .row > a {
	display: inline-block;
	text-align: center;
	font-size: 20px;
	line-height: 50px;
	vertical-align: middle;
	width: 50px;
	height: 50px;
	border-radius: 20px;
	color: rgb(255, 255, 255);
	font-weight: bold;
	text-decoration: underline;
	background-color: #0093E9;
	background-image: -webkit-gradient(linear, left bottom, left top, from(#0093E9), to(#80D0C7));
	background-image: -o-linear-gradient(bottom, #0093E9 0%, #80D0C7 100%);
	background-image: linear-gradient(0deg, #0093E9 0%, #80D0C7 100%);
	float: right;
	margin-left: 20px;
	cursor: pointer;
}*/

[data-role="recordings"] > .row > a:hover {
	text-decoration: none;
}

[data-role="recordings"] > .row > a:active {
	background-image: -webkit-gradient(linear, left top, left bottom, from(#0093E9), to(#80D0C7));
	background-image: -o-linear-gradient(top, #0093E9 0%, #80D0C7 100%);
	background-image: linear-gradient(180deg, #0093E9 0%, #80D0C7 100%);
}
